.header{
    display: flex;
    max-height: 40px;
    height: 40px;
    background-color: #261449;

    @include tablet{
        justify-content: flex-end;
        background-color: transparent;
        position: absolute;
        top: 10px;
        left: 0;
        width: 100%;
        z-index: 90;
    }

    .header__logo {
        display: none;
    }

    .header__btn {
        @include dFlexJccAic;
        text-decoration: none;
        font-family: $MontserratBold;
        font-size: 12px;
        line-height: 24px;
        letter-spacing: 0.9px;
        text-align: center;
        text-transform: uppercase;
        

        &-login{
            color: #b1f9c6;
            background-color: #261449;
            width: 26%;
            
            @include tablet{
                max-width: 110px;
                border-radius: 20px;
                border: 2px solid #b1f9c6;
                margin-right: 5px;
            }
        }

        &-reg{
            color: #261449;
            background-image: linear-gradient(to right, #b1f9c6 0%, #4ee482 100%);
            min-width: 150px;
            width: 47%;

            @include tablet{
                border-radius: 20px;
                max-width: 150px;
                margin-right: 5px;
            }
        }
    }

    .header__langListWrap{
        position: relative;
        width: 12%;
        opacity: 0.9;
        @include dFlexJccAic;
        font-family: $MontserratBold;
        font-size: 10px;
        letter-spacing: normal;
        line-height: 24px;
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 0.75px;

        @include tablet{
            border-radius: 20px;
            max-width: 40px;
            background: rgba(255, 255, 255, 0.1);
            margin-right: 10px;
        }

        &:active{
            opacity: 1;
        }

        &:hover,
        &:active{
            .header__langList{
                visibility: visible;
                opacity: 1;
            }
        }
        
        .header__langList{
            position: absolute;
            left: 0;
            bottom: 10px;
            visibility: hidden;
            opacity: 0;
            z-index: 1;
            width: 100%;
            background-color: #261449;
            transform: translateY(100%);
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;

            .header__langList_link{
                text-decoration: none;
                color: #ffffff;
            }
        }
    }

    .header__mobBtn {
        min-width: 50px;
        @include dFlexJccAic;

        .header__mobBtn_icon{
            width: 24px;
            height: 19px;
            background-image: url('../img/icons/menu.svg');
            @include bgIcons;
        }

        @include tablet{
            margin-right: 20px;
        }
    }
}

.default-state .header .header__logo{
    display: none;
}