.intro{
    position: relative;
    background-image: url('../img/photos/intro__bg_tablet.svg');
    background-size: cover;
    background-position: -140px 0px;
    background-repeat: no-repeat;

    @media screen and (min-width: 350px){
        background-position: -80px 0px;
    }

    @media screen and (min-width: 380px){
        background-position: -40px 0px;
    }

    @media screen and (min-width: 420px){
        background-position: 0px 0px;
    }

    @include tablet{
        padding-top: 50px;
    }

    .container{
        padding-bottom: 0px;

        @include tablet{
            align-items: flex-start;
        }
    }

    .intro__logo{  
        display: flex;
        justify-content: center;
        align-items: center;
        width: 220px;
        height: 81px;
        margin: 0 auto 40px;
        
        @include tablet{
            margin-left: 0;
            margin-bottom: 85px;
            width: 330px;
            height: 122px;
        }
        
        .intro__logo_img{
            width: 100%;
        }
    }

    .intro__title{
        white-space: pre-line;
        font-size: 36px;
        font-weight: 400;
        line-height: 36px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.9px;
        color: #ffffff;
        font-family: $MontserratBold;
        padding-bottom: 20px;
        position: relative;
        margin-bottom: 23px;

        @include tablet{
            color: #ffffff;
            font-size: 50px;
            line-height: 50px;
            text-align: left;
            letter-spacing: 1.25px;
            white-space: initial;
            margin-bottom: 100px;
        }

        &::after{
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            content: '';
            width: 80px;
            height: 10px;
            background-color: #601472;
            background-image: linear-gradient(to right, #b1f9c6 0%, #4ee482 100%);

            @include tablet{
                left: 0;
                transform: initial;
            }
        }
    }

    .intro__text{
        color: #ffffff;
        font-size: 18px;
        font-style: normal;
        font-family: $MontserratSemiBold;
        line-height: normal;
        text-align: center;
        letter-spacing: 0.9px;
        margin-bottom: 30px;

        @include tablet{
            font-size: 24px;
            font-weight: 400;
            text-align: left;
            letter-spacing: 1.2px;
            margin-bottom: 85px;
        }
    }

    .intro__button {
        margin-bottom: 130px;

        @include tablet{
            margin-bottom: 241px;
            min-width: 240px;
        }
    }
}